/***** Général *****/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

h2 {
    padding: 20px;
}

a {
    text-decoration: none;
}

button {
    background-color: #f0f3f5;
    border: 1.5px solid #2C3E50;
    color: #2C3E50;
    height: 40px;
    cursor: pointer;
}

#container {
    display: flex;
    flex-direction: row;
}

/***** Logo *****/

.main-nav img {
    width: 100%;
    height: auto;
    display: block;
    padding: 20px 50px;
}

/***** Menu principal *****/

.main-nav {
    background-color: #2C3E50;
    width: 18vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
}

.main-nav > a {
    display: block;
    text-align: center;
}

.main-nav ul {
    list-style-type: none;
    text-transform: uppercase;
    padding: 50px;
}

.main-nav li {
    margin-bottom: 1rem;
    text-align: left;
}

.main-nav a {
    color: white;
    text-decoration: none;
}

.main-nav a:hover {
    color: #E74C3C;
}

/***** Contenu principal *****/

main {
    background-color: #f0f3f5;
    margin-left: 18vw;
    width: 82vw;
    min-height: 100vh;
}

.second-nav {
    width: 82vw;
    height: 150px;
    position: fixed;
    z-index: 1;
    padding: 1rem;
    background-color: #f0f3f5;
    border-bottom: 1px solid #d1d7dc;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}

/***** Barre de recherche *****/

.filters-forms {
    display: flex;
}

img.remove-filters{
    cursor: pointer;
    height: 40px;
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.date-form {
    margin-left: 2rem;
}

.date-form input {
    width: 15rem;
    background: #2C3E50;
    border: 1px solid #2C3E50;
    color: white;
    height: 40px;
    margin: 0;
    padding: 0 10px;
}

.search-bar input[type=search] {
    width: 15rem;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background: #2C3E50;
    border: 1px solid #2C3E50;
    color: white;
    display: block;
    float: left;
    height: 40px;
    margin: 0;
    padding: 0 10px;
}

.search-bar input[type=search]:focus {
    width: 30rem;
}

input::-webkit-input-placeholder {
    color: #9CA4AC;
}

.search-bar button {
    width : 5rem;
    background: #2C3E50;
    border: 0;
    border-left: 1px solid white;
    color: white;
    
}

/***** Barre de critères *****/

.criterion-nav {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.criterion-nav img {
    height: 40px;
}

.filter,.order {
    display: flex;
}

.filter {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: solid 1.5px #2C3E50;
}

.order button {
    cursor: default;
}

.order button span {
    cursor: pointer;
}

.criterion-nav img {
    margin-right: 10px;
}

.criterion-nav .order button, .criterion-nav .filter button {
    margin-right: 5px;
    border: 1px solid #d1d7dc;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.criterion-nav .order > div, .criterion-nav .filter button {
    margin-right: 5px;
    border: 1px solid #d1d7dc;
    background-color: #fff;
    
    width: 100%;
}

.criterion-nav .order > div {
    display: flex;
    align-items: center;
    padding: 8px;
    color: #2C3E50;
}

.criterion-nav .order > div span {
    font-family: MS Shell Dlg \32;
    font-size: 13px;
    margin-right: 8px;
}

.criterion-nav .order > div > div {
    display: flex;
    flex-direction: column;
}*/

.criterion-nav .order button div {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.criterion-nav .filter button:hover,
.criterion-nav .filter button.active {
    background-color: #2C3E50;
    color: white;
}

span.arrow {
    padding: 0;
    background-color: transparent;
}

span.arrow-up.active {
    border-bottom-color: #DCB621;
}

span.arrow-down.active {
    border-top-color: #DCB621;
}

span.arrow-up {
    width: 0;
    height: 0;
    border-top: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #4e5968;
    margin-bottom: 5px;
}

span.arrow-down {
    width: 0;
    height: 0;
    border-bottom: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #4e5968;
}

/***** List de facts *****/

.facts {
    padding: calc(150px + 2rem) 2rem 2rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.wrapper:last-child .fact{
    margin-bottom: 0;
}

.fact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #d1d7dc;
    background-color: #fff;
    margin-bottom: 2rem;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.fact:nth-child(odd) {
    margin-right: 2rem;
}

.fact:nth-child(even) {
    flex-grow: 1;
}

.fact:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), inset 0 0 2px 1px #fff;
}

.wrapper-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wrapper-right {
    display: flex;
    justify-content: flex-end;
    width: auto;
}

.fact h3 {
    color: #4e5968;
    text-transform: uppercase;
}

.fact img:first-child {
    
}

.fact img {
    width: auto;
    height: 80px;
}

.fact a {
    padding: 1rem;
    display: block;
    color: #4e5968;
    width: 100%;
}

.fact p {
    color: #DCB621;
}

.fact p.date {
    color: #2C3E50;
    font-size: smaller;
}

button[disabled] {
    color: gray;
    border-color: gray;
    cursor: default;
}