/***** Général *****/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

h2 {
    padding: 20px;
}

a {
    text-decoration: none;
}

button {
    background-color: #f0f3f5;
    border: 1.5px solid #22313F;
    color: #22313F;
    height: 40px;
    cursor: pointer;
}

.remove-filters {
    background-color: #E74D3E;
    border: none;
    color: white;
}

/***** Navigation principal *****/

.main-nav {
    position: fixed;
    top:0;
    /*height: 150px;*/
    display: flex;
}

/*** Logo ***/

.main-nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    background-color: #22313F;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
    padding: 20px 50px;
    margin: 0 auto;
}

/*** Navigation par filtre ***/

.filters-nav {
    width: 82vw;
    padding: 1rem;
    background-color: #f0f3f5;
    border-bottom: 1px solid #d1d7dc;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}

/* Barre de recherche & form date */

.filters-forms {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}

.wrapper-date-forms form {
    margin-left: 1rem;
}

input::-webkit-input-placeholder {
    color: #9CA4AC;
}

.filters-forms input {
    width: 10rem;
    background: #22313F;
    border: 1px solid #22313F;
    color: white;
    height: 40px;
    margin: 0;
    padding: 0 10px;
}

.search-bar input[type=search] {
    width: 15rem;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search-bar input[type=search]:focus {
    width: 30rem;
}

.search-bar button {
    width : 5rem;
    background: #22313F;
    border: 0;
    border-left: 1px solid white;
    color: white;

}

.wrapper-date-forms {
    display: flex;
}

.date-form {
    margin-left: 2rem;
}

/* Barre de critères */

.criterion-nav {
    margin-top: 2rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
}

.criterion-nav img {
    height: 40px;
}

.filter,.order {
    display: flex;
}

.filter {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: solid 1.5px #22313F;
    display: flex;
    flex-direction: row;
}

.wrapper-filter-buttons {
    display: flex;
    flex-direction: row;
}

.order button {
    cursor: default;
}

.order button span {
    cursor: pointer;
}

.criterion-nav img {
    margin-right: 10px;
}

.criterion-nav .order button, .criterion-nav .filter button {
    margin-right: 5px;
    border: 1px solid #d1d7dc;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order button.active, .order button:hover {
    background-color: #22313F;
    color: white;
}

.order button.active span.arrow-up, .order button:hover span.arrow-up {
    border-bottom-color: white;
}

.order button.active span.arrow-down, .order button:hover span.arrow-down {
    border-top-color: white;
}

.criterion-nav .order button div {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

span.arrow {
    padding: 0;
    background-color: transparent;
}

.order button span.arrow-up.active {
    border-bottom-color: #DCB621;
}

.order button span.arrow-down.active {
    border-top-color: #DCB621;
}

.order button span.arrow-up {
    width: 0;
    height: 0;
    border-top: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #4e5968;
    margin-bottom: 5px;
}

.order button span.arrow-down {
    width: 0;
    height: 0;
    border-bottom: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #4e5968;
}

.criterion-nav .filter button:hover,
.criterion-nav .filter button.active {
    background-color: #22313F;
    color: white;
}

.wrapper-filter-buttons, .wrapper-filter-remove {
    display: flex;
    flex-direction: row;
}

.wrapper-filter-remove {
    width: 100%;
    justify-content: space-between;
}

/***** Contenu principal *****/

main {
    margin-top: 150px;
    background-color: #f0f3f5;
    min-height: 100vh;
    padding-bottom: 2rem;
}

/*** Facts ***/

.facts {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.wrapper:last-child .fact{
    margin-bottom: 0;
}

.fact {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    border: 1px solid #d1d7dc;
    background-color: #fff;
    margin-bottom: 2rem;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    margin-right: 2rem;
}

.fact:nth-child(3n) {
    margin-right: 0;
}

.fact:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), inset 0 0 2px 1px #fff;
}

.wrapper-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wrapper-right {
    display: flex;
    justify-content: flex-end;
    width: auto;
}

.fact h3 {
    color: #4e5968;
    text-transform: uppercase;
}

.fact img {
    width: auto;
    height: 80px;
}

.wrapper-left img:first-child {
    margin-right: 2rem;
}

.fact a {
    padding: 1rem;
    display: block;
    color: #4e5968;
    width: 100%;
}

.fact p {
    color: #DCB621;
}

.fact p.date {
    color: #22313F;
    font-size: smaller;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    background-color: #22313F;
    color: white;
    border: none;
    width: 2rem;
}

.pagination button:first-child {
    margin-right: 1rem;
}

.pagination button:last-child {
    margin-left: 1rem;
}

.pagination button[disabled] {
    background-color: lightgrey;
    cursor: default;
}

@media screen and (max-width: 1380px) {
    .main-nav {
        position: fixed;
        top:0;
        /*height: 230px;*/
    }

    .search-bar input[type=search] {
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        transition-property: none;
    }

    .search-bar input[type=search]:focus {
        width: 15rem;
    }

    .criterion-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filter {
        margin-top: 2rem;
        margin-left: 0;
        padding-left: 0;
        border-left: none;
        display: flex;
        flex-direction: row;
    }

    .wrapper-filter-buttons, .wrapper-filter-remove {
        display: flex;
        flex-direction: row;
    }

    .wrapper-filter-remove {
        width: 100%;
        justify-content: space-between;
    }

    .filters-nav .remove-filters {
        width: 10rem;
        margin-top: 2rem;
        align-self: flex-end;
    }

    main {
        margin-top: 230px;
    }
}

@media screen and (max-width: 980px) {
    .main-nav {
        position: fixed;
        top:0;
        /*height: 400px;*/
        display: flex;
        flex-direction: column;
    }

    .main-nav .logo {
        height: auto;
        width: 100vw;
    }

    .logo img {
        width: 300px;
    }
    .filters-nav {
        width: 100vw;
    }

    .filters-forms {
        display: flex;
        justify-content: space-between;
    }

    .search-bar input[type=search] {
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        transition-property: none;
    }

    .search-bar input[type=search]:focus {
        width: 15rem;
    }

    .wrapper-date-forms {
        display: flex;
    }

    .wrapper-date-forms .date-form-from {
        margin-right: 1rem;
    }

    .date-form {
        margin-left: 0;
    }

    .criterion-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filter {
        margin-top: 2rem;
        margin-left: 0;
        padding-left: 0;
        border-left: none;
        display: flex;
        flex-direction: row;
    }

    .wrapper-filter-buttons {
        display: flex;
        flex-direction: row;
    }

    .filters-nav .remove-filters {
        width: 10rem;
        margin-top: 2rem;
    }

    main {
        margin-top: 400px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .fact {
        margin-right: 0;
    }

    .wrapper:last-child .fact:first-child{
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 840px) {
    .main-nav {
        position: fixed;
        top:0;
        /*height: 400px;*/
        display: flex;
        flex-direction: column;
    }

    .main-nav .logo {
        height: auto;
        width: 100vw;
        margin: auto;
    }

    .logo img {
        width: 300px;
    }
    .filters-nav {
        width: 100vw;
    }

    .filters-forms {
        display: flex;
        flex-direction: column;
    }

    .wrapper-date-forms {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
    }

    .date-form {
        margin-left: 0;
    }

    .criterion-nav {
        display: flex;
        flex-direction: column;
    }

    .order {
        width: 100%;
    }

    .filter {
        width: 100%;
        margin-top: 2rem;
        margin-left: 0;
        padding-left: 0;
        border-left: none;
        display: flex;
        flex-direction: column;
    }

    .wrapper-filter-remove {
        display: flex;
        flex-direction: column;
    }

    .wrapper-filter-buttons {
        display: flex;
        flex-direction: row;
    }

    .wrapper-filter-buttons button:last-child {
        margin-right: 0;
    }

    .wrapper-filter-buttons:last-child {
        margin-top: 1rem;
    }

    .filters-nav .remove-filters {
        width: 10rem;
        margin-top: 1rem;
    }
}