<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Highway To The White House</title>
        <link rel="stylesheet" href="/assets/css/jquery-ui.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery-ui.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/assets/js/twig.min.js"></script>
        <script src="/assets/js/script.js"></script>
    </head>
    <body>
        <div id="container">
            {% include './menu.twig' %}
            <main>
                {% block body %}{% endblock %}
            </main>
        </div>
    </body>
</html>
