{% extends './base.twig' %}

{% block body %}

    <div class="second-nav">
        <form action="/search" method="post" class="search-bar">
            <input type="search" name="query" placeholder="What are you looking for ?" value="{{ query | default('') }}">
            <button type="submit">Search</button>
        </form>
        <div class="criterion-nav">
            <div class="order">
                <img src="/assets/img/icones/order.svg" alt="Order icone">
                <button>Most recent</button>
                <button>Most views</button>
            </div>
            <div class="filter">
                <img src="/assets/img/icones/filter.svg" alt="Filter icone">
                <button data-filter="full_flop">Full flop</button>
                <button data-filter="half_flip">Half flip</button>
                <button data-filter="no_flip">No flip</button>
                <button data-filter="pants_on_fire">Pants on Fire</button>
                <button data-filter="false">False</button>
                <button data-filter="mostly_false">Mostly false</button>
                <button data-filter="half_true">Half true</button>
                <button data-filter="mostly_true">Mostly true</button>
                <button data-filter="true">True</button>
            </div>
        </div>
    </div>
    <div class="facts">
        {% if facts %}
            {% include '../../public/template/facts.twig' %}
        {% endif %}
    </div>
{% endblock %}