{% extends './base.twig' %}

{% block body %}
    <div class="second-nav">
        <form action="/search" method="post" class="search-bar">
            <input type="search" name="query" placeholder="What are you looking for ?" value="{{ query | default('') }}">
            <button type="submit">Search</button>
        </form>
        <input type="text" class="datepicker" data-type-date="min">
        <input type="text" class="datepicker" data-type-date="max">
        <div class="criterion-nav">
            <div class="order">
                <img src="/assets/img/icones/order.svg" alt="Order icone">
                <div>
                    <span>Date</span>
                    <div>
                        <button class="arrow arrow-up" data-type-sort="date" data-order-sort="desc"></button>
                        <button class="arrow arrow-down" data-type-sort="date" data-order-sort="asc"></button>
                    </div>
                </div>
                <div>
                    <span>Relevance</span>
                    <div>
                        <button class="arrow arrow-up" data-type-sort="_score" data-order-sort="desc"></button>
                        <button class="arrow arrow-down" data-type-sort="_score" data-order-sort="asc"></button>
                    </div>
                </div>
                <div>
                    <span>Confidence</span>
                    <div>
                        <button class="arrow arrow-up" data-type-sort="confidence" data-order-sort="desc"></button>
                        <button class="arrow arrow-down" data-type-sort="confidence" data-order-sort="asc"></button>
                    </div>
                </div>
            </div>
            <div class="filter">
                <img src="/assets/img/icones/filter.svg" alt="Filter icone">
                <button data-meter-filter="full_flop">Full flop</button>
                <button data-meter-filter="half_flip">Half flip</button>
                <button data-meter-filter="no_flip">No flip</button>
                <button data-meter-filter="pants_on_fire">Pants on Fire</button>
                <button data-meter-filter="false">False</button>
                <button data-meter-filter="mostly_false">Mostly false</button>
                <button data-meter-filter="half_true">Half true</button>
                <button data-meter-filter="mostly_true">Mostly true</button>
                <button data-meter-filter="true">True</button>
            </div>
        </div>
    </div>
    <div class="facts">
        {% if facts %}
            {% include '../../public/template/facts.twig' %}
        {% endif %}
    </div>
{% endblock %}
