{% extends './base.twig' %}

{% block body %}
    <div class="facts">
        {% if facts %}
            {% include '../../public/template/facts.twig' %}
        {% endif %}
    </div>
    <div class="pagination">
        <button data-change-page="previous" disabled>
            <
        </button>
        <button data-change-page="next">
            >
        </button>
    </div>
{% endblock %}
