{% extends './base.twig' %}

{% block body %}

    <div class="second-nav">
        <form action="/search" method="post" class="search-bar">
            <input type="search" name="query" placeholder="What are you looking for ?" value="{{ query | default('') }}">
            <button type="submit">Search</button>
        </form>
        <div class="criterion-nav">
            <div class="order">
                <img src="/assets/img/icones/order.svg" alt="Order icone">
                <button>Most recent</button>
                <button>Most views</button>
            </div>
            <div class="filter">
                <img src="/assets/img/icones/filter.svg" alt="Filter icone">
                <button>Full flop</button>
                <button>Half flip</button>
                <button>No flip</button>
                <button>Pants on Fire</button>
                <button>False</button>
                <button>Mostly false</button>
                <button>Half true</button>
                <button>Mostly true</button>
                <button>True</button>
            </div>
        </div>
    </div>
    <div class="facts">
        {% if facts %}
            {% include '../../public/template/facts.twig' %}
        {% endif %}
    </div>
{% endblock %}