<nav class="main-nav">
	<a href="">
		<img src="/assets/img/logo/logo.png" alt="Logo Highway To The White House">
	</a>
	<ul>
		<li>
			<a href="">Home</a>
		</li>
		<li>
			<a href="">All Facts</a>
		</li>
		<li>
			<a href="">About</a>
		</li>
	</ul>
</nav>